body {
  font-family:Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: beige;
  line-height: 30px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #bcd4e6;
  color: black;
  padding: 40px;
  border-bottom: 3px dashed black;
}

header h1 {
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

header img {
  border-radius: 10%;
  border: 2px solid #ffffff;
  width: 190px;
  height: 130px;
}

main {
  display: grid;
  grid-template-rows: 250px 270px 330px 230px;
  gap: 30px;
  padding: 50px;
}

section {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 20px;
}

section h2 {
  text-align: center;
  color: #4f46e5;
  border-bottom: 2px solid #6366f1;
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 25px;
}

section p {
  text-align: center;
  color: #374151;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-size: 15px;
  color: black;
}

th {
  background: linear-gradient(90deg, #4f46e5, #3b82f6);
  color: #ffffff;
  padding: 12px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

td {
  padding: 12px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
}


li {
  margin: 6px;
  padding-left: 22px;
  position: relative;
  color: #475569;
}

footer {
  background: #3b82f6;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  font-size: 17px;
}

footer a {
  color: #fcd34d;
  text-decoration: none;
  font-weight: 600;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}